<div class="container">
  <div class="row justify-content-md-center">
    <div *ngFor="let task of tasks" class="col-md-3 m-2 p-0">
      <mat-card>
        <mat-card-title>{{task.name}}</mat-card-title>
        <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</mat-card-content>
        <mat-card-actions>
          <button class="btn btn-success" (click)="addProfileTask($event, task)"><mat-icon class="add">add</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>
